.tooltip {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%; /* Position below the list item */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
  }
  