/* Base styles */
.sidebar {
  width: 280px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
   overflow-y: auto;
   padding-top: 1rem;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle {
  position: fixed;
  top: 105px;
  left: 15px;
  z-index: 1000;
  background: #1C2957;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

/* Add margin to the main content to prevent overlap with fixed sidebar */
main {
  margin-left: 280px;
  padding: 20px;
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
  }
  
  .sidebar.open + main {
    margin-left: 280px;
  }
}

/* Desktop view */
@media (min-width: 992px) {
  .sidebar {
    position: static;
    transform: none;
  }

  .sidebar-toggle {
    display: none;
  }
}

/* Mobile view */
@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
     overflow-y: auto;
    transform: translateX(-100%);
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-toggle {
    width: 40px;
    height: 50px;
  }

}
.ps-6 {
  padding-left: 5rem !important;
}
.ps-7 {
  padding-left: 7rem !important;
}

